.basketCard {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basketCard:last-child {
  margin: 0;
}
.hr {
  border: none;
  height: 1px;
  background-color: rgb(211, 212, 213);
}
.basketCard__data {
  display: flex;
  padding-bottom: 25px;
}

.top {
  width: 45%;
}
.bottom {
  width: 45%;
}
.back{
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 56%;
}
.h1{
  text-align: center;
  font-size: 50px;
}
.h4{
  text-align: center;
}
.h43{
  text-align: right;
  font-size: 60px;
}
